<form class="m-editor" id="meme-editor-view">
  <div class="dropzone" id="dropzone">배경이미지 업로드(Drop)</div>

  <h2><label for="image-scale">배경이미지 사이즈</label></h2>
  <input id="image-scale" type="range" max="4" min=".01" step=".01" value="1">

  <select class="canvas-size" id="canvas-size">
      <option value="" disabled>캔버스 크기</option>
  </select>

  <h2><label for="headline">헤드라인</label></h2>
  <textarea id="headline" name="headline" type="text" value=""></textarea>

  <select class="text-align" id="text-align">
    <option value="" disabled>정렬</option>
  </select>

  <select class="font-size" id="font-size">
    <option value="" disabled>폰트 크기</option>
  </select>

  <select class="font-family" id="font-family">
    <option value="" disabled>폰트 선택</option>
  </select>

  <div class="checkbox-group text-shadow">
    <input id="text-shadow" name="shadow" type="checkbox">
    <label for="text-shadow">텍스트 그림자</label>
  </div>

  <select class="watermark" id="watermark">
    <option value="" disabled>워터마크 선택</option>
  </select>

  <!--<h2><label for="credit">출처</label></h2>-->
  <textarea id="credit" name="credit" ></textarea>

  <div class="m-editor__overlay" id="overlay">
    <h2>Color</h2>
    <div class="color-radio">
      <label><input type="radio" name="colorType" value="overlay" checked> Overlay</label>
      <label><input type="radio" name="colorType" value="background"> Background</label>
    </div>
    <ul class="checkbox-group">
      <li><label><input type="radio" name="overlay" value=""> 없음</label></li>
    </ul>
  </div>
</form>
